.center-block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-secondary {
  color: #bbb8b8;
}
.inline-block {
  display: inline-block;
  vertical-align: middle;
}

@media only screen and (max-width: 769px) {
  .margin-top-fix {
    margin-top: 10px;
  }
}